.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  box-sizing: content-box;
}

.post {
  background-color: white;
  border-radius: 10px;
  color: black;
  font-family: "Inter Black", sans-serif;
  font-size: 20px;
  width: 282px;
  height: 361px;
  display: flex;
  flex-direction: column;
}

.post__picture {
  width: 282px;
  height: 282px;
}

.post__info-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px 0 18px;
  margin-top: 25px;
}

.post__info-bar-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post__info-bar-heart {
  width: 21px;
  height: 19px;
}

@media screen and (max-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
  }
}
